body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  padding: 20px;
  transition: 0.3s;
}

/* DARK MODE */
body.dark {
  background: #121212;
  color: white;
}

.container {
  width: 420px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 15px;
  color: white;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  border: none;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.summary div {
  background: rgba(255,255,255,0.2);
  padding: 10px;
  border-radius: 10px;
  width: 45%;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: rgba(255,255,255,0.2);
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.actions button {
  margin-left: 5px;
}